/* styles.css */

/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styling for the body */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #000;
  color: #333;
  padding: 20px;
}

/* Styling for the header */
header {
  background: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

/* Styling for the header h1 */
header h1 {
  font-family: Verdana, sans-serif;  /* Font family set to Verdana */
  font-weight: normal;               /* Font weight set to normal */
  font-size: 50px;                   /* Font size set to 50px */
  color: white;                      /* Color set to white */
  text-align: center;                /* Text is centered */
  margin: 0;
}

/* Styling for the main content */
main {
  margin-top: 20px;
}

* Styling for links */
a {
    color: aquamarine;                  /* Color set to Aquamarine */
    font-size: 16px;                    /* Font size set to 16px */
    text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
